@tailwind base;
@tailwind components;
@tailwind utilities;





.sidebar-collapsed .sidebar-icon {
    display: inline-block;
}

.sidebar-collapsed .sidebar-logo {
    display: none;
}

.sidebar-collapsed .sidebar-menu-item {
    display: none;
}
